@font-face {
  font-family: "kfont";
  src: url("/fonts/monainn.otf");
}

body {
  font-family: "kfont";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.spacer {
  margin-top: 3.5rem;
}

.header {
  top: -65px;
  background: #151515 url("/bg.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  zoom: 1.05;
  height: 110vh !important;
}

.no-dec {
  text-decoration: none;
}

.navlinks li {
  padding-right: 2rem;
  padding-left: 2rem;
}

.imgcont1 {
  background: #151515 url("/acupress.jpeg") no-repeat center center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 230px;
  width: 190px;
}

.imgcont2 {
  background: #151515 url("/cup.jpeg") no-repeat center center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 230px;
  width: 190px;
}

.imgcont3 {
  background: #151515 url("/motif.jpg") no-repeat center center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 230px;
  width: 190px;
}

.imgcont4 {
  background: #151515 url("/yoga.jpeg") no-repeat center center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 230px;
  width: 190px;
}

.imgcont5 {
  background: #151515 url("/consult.jpeg") no-repeat center center;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 230px;
  width: 190px;
}

.content {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 250px;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.booknow {
  background-color: #151515;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  margin-right: 1rem;
  height: 235px;
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .service {
    width: 50% !important;

  }
}
