@font-face {
  font-family: "kfont";
  src: url("/fonts/monainn.otf");
}

body {
  font-family: "kfont";
}

.spacer {
  margin-top: 3.5rem;
}

.header {
  top: -65px;
  background: #151515 url("/bg.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  zoom: 1.05;
  height: 110vh !important;
}

.no-dec {
  text-decoration: none;
}

.navlinks li {
  padding-right: 2rem;
  padding-left: 2rem;
}
